[tool.poetry]
name = "wellington"
version = "0.2.0"
description = "A tool to help bootstrap your dev environment."
authors = ["Andrew Halberstadt <ahal@pm.me>"]
license = "MPL-2.0"

[tool.poetry.scripts]
well = 'wellington.cli:run'

[tool.poetry.dependencies]
python = "^3.7"
tomli = "^1.2.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
